<div class="menu">
  <div class="profile-bar">
    <img class="img-small" src="/assets/svgs/account.svg" alt="" />
    <a href="" id="user-profile">Username</a>
  </div>

  <div class="menu-item">
    <img
      class="img-extrasmall"
      src="/assets/svgs/menu.svg"
      alt=""
      style="margin-right: 8px"
    />
    <a href="" id="user-profile">All Users</a>
  </div>

  <div class="menu-item">
    <img
      class="img-extrasmall"
      src="/assets/svgs/search.svg"
      alt=""
      style="margin-right: 8px"
    />
    <a href="" id="user-profile">Search by Topic</a>
  </div>

  <div class="menu-header" id="matches">Matches</div>

  <div class="menu-bucket" id="matches-bucket">
    <div class="menu-item">
      <img class="img-extrasmall" src="/assets/svgs/account.svg" alt="" />
      <a href="" id="user-profile">Username</a>
    </div>
  </div>

  <div class="menu-header" id="wishlist">Topic Wishlist</div>

  <div class="menu-bucket" id="wishlist-bucket">
    <div class="menu-item">Item</div>
  </div>

  <div class="menu-header" id="teachlist">Topic Teachlist</div>

  <div class="menu-bucket" id="teachlist-bucket">
    <div class="menu-item">Item</div>
  </div>
</div>
