@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  width: 12px;
  min-height: 10px;
}

img.img-small {
  width: 17px;
  /* Styles added when needed */
}

img.img-medium {
  width: 40px;
}

img.img-large {
  width: 70px;
}

h1 {
  color: black;
  font: 28px 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 10px 0 10px 6px;
}

h2 {
  font: 15px 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 4px 0;
  padding: 4px 0 4px 6px;
}

h3 {
  font: 13px 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 2px 0 2px 6px;
}

p {
  font: 15px 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p.message-box {
  height: inherit;
  overflow: auto;
}

a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
  text-shadow: 2px 0px 6px rgba(0, 0, 0, 0.212);
}

.thin {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.grid.main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 230px 1fr;
  grid-template-columns: 230px 1fr;
  -ms-grid-rows: auto 20fr;
  grid-template-rows: auto 20fr;
}

.grid.nested-grid {
  -ms-grid-column: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (minmax(250px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(100px, -webkit-fit-content);
  grid-auto-rows: minmax(100px, fit-content);
  grid-gap: 20px;
  padding: 0rem 2rem;
}

.menu.main-menu {
  position: fixed;
  width: 230px;
  height: 100%;
  border-right: solid #dfdfdf 1px;
  /* background: green; */
}

.menu.top-menu {
  height: 50px;
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1rem;
  border-bottom: solid #dfdfdf 1px;
}

.strip {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: white;
  padding: 0 10px 0 40px;
}

.strip.normal-strip {
  /* Styles added when needed */
}

.strip.header-strip {
  height: 40px;
  padding: 0 10px 0 20px;
}

.strip.big-header-strip {
  height: 60px;
  padding: 0 10px 0 20px;
}

.strip.textbox-strip {
  width: 100%;
  height: 60px;
  background: rgba(29, 29, 29, 0.562);
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0 10px 0 20px;
}

.strip:hover {
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  background: #ececec;
}

button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  font: 15px 'Montserrat', sans-serif;
  border-radius: 4px;
  border-color: black;
  -webkit-box-shadow: black 2px 2px 3px;
  box-shadow: black 2px 2px 3px;
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
  z-index: 1;
}

button:active {
  -webkit-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
  background: red;
}

button.info {
  border: none;
  color: white;
  background: #2861fe;
}

button.info:active {
  background: #1e4ac4;
}

button.update {
  border: none;
  color: white;
  background: #dfa30b;
}

button.update:active {
  background: #bf8b07;
}

button.warn {
  border: none;
  color: white;
  background: #d41010;
}

button.warn:active {
  background: #ae0b0b;
}

button.card-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: solid black 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: black;
  background: none;
}

button.card-button:hover {
  border: none;
  background: rgba(255, 255, 255, 0.349);
}

button.card-button:active {
  border: none;
  background: white;
}

.card {
  position: relative;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  background: red;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#f12711),
    to(#f5af19)
  );
  background: linear-gradient(to top right, #f12711, #f5af19);
  padding: 1rem;
}

.card.large-card {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  height: 500px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5rem 10%;
  outline: solid black 2px;
  outline-offset: -20px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#051937),
    color-stop(#004d7a),
    color-stop(#008793),
    color-stop(#00bf72),
    to(#a8eb12)
  );
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.card.medium-card {
  /* Styles added when needed */
}

.card.small-card {
  /* Styles added when needed */
}

.card.chat-card {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  height: 500px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 8.5rem 1rem 1rem;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#008793),
    color-stop(#00bf72),
    to(#47d410)
  );
  background-image: linear-gradient(to right top, #008793, #00bf72, #47d410);
}

.card > p {
  padding-left: 5px;
}

.container.strip-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container.tag-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
  overflow: auto;
}

.container.tag-container.outline {
  background: white;
  border-radius: 6px;
}

.container.chat-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem;
  border-top: solid 1px black;
  overflow: auto;
}

.item.tag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 8px;
  border-radius: 2rem;
  border: solid black 2px;
  margin: 5px 0 5px 3px;
}

.deleteButton{
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
